/* Для режима чтения */
.markdown-preview-view mark {
    background-color: #64B8CDCC !important;
    color: black !important;
  }
  
  /* Для Live Preview (режима редактирования) */
  .cm-s-obsidian span.cm-highlight {
    background-color: #64B8CDCC !important;
    color: black !important;
  }